{% extends "layout.html" %}

{% block content %}
    <button onclick="enablePlay();">Unmute / Play</button>
    <table style="width:100%;">
        <tr>
            <td style="width:30%;">
                <table>
                    <tr>
                        <td>
                            <form action="{{ url_for("give_feedback") }}" method="post">
                                <input type="hidden" name="rating" value="-1"/>
                                <button style="padding:2em;" type="submit">тъпо</button>
                            </form>
                        </td>
                        <td>
                            <form action="{{ url_for("give_feedback") }}" method="post">
                                <input type="hidden" name="comment" value="NEW_TOPIC"/>
                                <button style="padding:2em;" type="submit">НОВА ТЕМА</button>
                            </form>
                        </td>
                        <td>
                            <form action="{{ url_for("give_feedback") }}" method="post">
                                <input type="hidden" name="rating" value="1"/>
                                <button style="padding:2em;" type="submit">яко</button>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3">
                            <form action="{{ url_for("give_feedback") }}" method="post">
                                <input type="text" name="comment" placeholder="За какво се говори...?"/>
                                <input type="submit"/>
                            </form>
                        </td>
                    </tr>
                </table>
                <div id="async_flash_msg"
                     style="display: none; color: white; border: 1px solid #2a62bc; background: #1f8dd6; padding:1em;"></div>
                <h2><span id="info_title">...</span></h2>
                <p><strong>Време: </strong><span id="info_current_time">...</span> / <span id="info_duration">...</span>
                </p>
                <p><strong>До...: </strong><span id="info_end_time">...</span> (<span
                        id="info_remaining_time">...</span>)</p>
                <p><strong>Епизод: </strong><span id="info_video_id">...</span>
                <p><strong>Участници: </strong><span id="info_participants">...</span>
                <p></p>

                <p><strong>Дата: </strong><span id="info_date">...</span></p>
                <p><strong>Линк: </strong><a href="#" target="_blank" id="info_link_a"><span
                        id="info_link">...</span></a>
            </td>
            <td style="width:70%;">
                <div id="v1" style="border: 5px solid red;">
                    <video poster="{{ url_for('static', filename='img/loading.gif') }}" preload="auto"
                           style="width:100%;" autoplay muted>LODING VIDEO...
                    </video>
                </div>
                <div id="v2" style="border: 5px solid blue; display: none;">
                    <video poster="{{ url_for('static', filename='img/loading.gif') }}" preload="auto"
                           style="width:100%;" autoplay muted></video>
                </div>
            </td>
        </tr>
    </table>

{% endblock %}
{% block script %}
    <script>
        function toHHMMSS(second) {
            let sign = "";
            if (second < 0) {
                second = -second;
                sign = "-"
            }
            let sec_num = parseInt(second, 10); // don't forget the second param
            let hours = Math.floor(sec_num / 3600);
            let minutes = Math.floor((sec_num - (hours * 3600)) / 60);
            let seconds = sec_num - (hours * 3600) - (minutes * 60);

            if (hours < 1) {
                hours = "";
            } else {
                hours = hours + ':'
            }
            if (minutes < 10) {
                minutes = "0" + minutes;
            }
            if (seconds < 10) {
                seconds = "0" + seconds;
            }
            return sign + hours + minutes + ':' + seconds;
        }

        let nextData = {
            video_id: "...",
            title: "...",
            date: "...",
            duration: "...",
            link: "...",
            participants: "...",
            current_time: 0,
            remaining_time: 0,
            end_time: 0,
        }

        let internalCurrentTime = nextData.current_time;
        let internalRemainingTime = nextData.remaining_time;

        var interval = setInterval(increment, 1000);
        let trynow = true;

        function increment() {
            internalCurrentTime += 1;
            internalRemainingTime -= 1;
            $("#info_current_time").html(toHHMMSS(internalCurrentTime));
            $("#info_remaining_time").html(toHHMMSS(internalRemainingTime));
            if (trynow && internalRemainingTime <= 1) {
                fetchNextData(updateStream);
            } else if (internalRemainingTime < -5) {
                $('#async_flash_msg').text("хмм... мрежови проблем? Ще презаредя след ~10 секунди...");
                $('#async_flash_msg').show();
            } else if (internalRemainingTime < -10) {
                location.reload()
            }
        }

        let time = 0;
        let isPlayable = false;
        let activeV = "#v2";
        let otherV = "#v1";

        function fetchNextData(f) {
            trynow = false;
            $.ajax({
                url: "/videos/current/details",
                success: function (r) {
                    nextData = r;
                    if (f)
                        f();
                }
            });
        }

        function enablePlay() {
            isPlayable = true;
            $(activeV + " video")[0].muted = false;
            //$(activeV + " video")[0].currentTime = internalCurrentTime;
            //$(activeV + " video")[0].play();
        }

        function showNextData() {
            $("#info_video_id").html(nextData.video_id);
            $("#info_link").html(nextData.link);
            $("#info_link_a").attr("href", nextData.link);
            $("#info_participants").html(nextData.participants);
            $("#info_date").html(nextData.date);
            $("#info_title").html(nextData.title);
            $("#info_duration").html(nextData.duration);
            internalCurrentTime = nextData.current_time;
            internalRemainingTime = nextData.remaining_time;
            $("#info_end_time").html(toHHMMSS(nextData.end_time));
        }

        function swap() {
            $(activeV).hide();
            $(otherV).show();
            let tmpV = otherV;
            otherV = activeV;
            activeV = tmpV;
            if (isPlayable) {
                $(activeV + " video")[0].muted = false;
                $(otherV + " video")[0].muted = true;
            }
            showNextData();
            $('#async_flash_msg').slideUp();
        }

        $(activeV + " video")[0].addEventListener('loadedmetadata', function () {
            trynow = true;
            this.currentTime = time;
            if (isPlayable) {
                this.muted = false;
            }
            swap();
        }, false);
        $(otherV + " video")[0].addEventListener('loadedmetadata', function () {
            trynow = true;
            this.currentTime = time;
            if (isPlayable) {
                this.muted = false;
            }
            swap();
        }, false);

        function updateStream(dataStr) {
            $('#async_flash_msg').text("Зареждам видео " + nextData.video_id + "...").slideDown();
            time = nextData.current_time;
            $(otherV + " video").attr("src", "/videos/" + nextData.video_id);
            $(otherV + " video")[0].play();
        }

        let hideT = null;

        $("form").submit(function (e) {
            var form = $(this);
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: form.serialize(), // data to be submitted
                success: function (response) {
                    fetchNextData();
                    if (hideT)
                        clearTimeout(hideT);
                    console.log(response);
                    let msg = "Ок! ";
                    if (response.update_delta) {
                        if (response.rating === "1") {
                            msg += "Увеличавам с " + toHHMMSS(response.update_delta) + " секунди";
                        } else if (response.rating === "-1") {
                            msg += "Намалявам с " + toHHMMSS(response.update_delta);
                        }
                    } else if (response.comment) {
                        msg += "Коментар: " + response.comment;
                    }
                    $('#async_flash_msg').text(msg).slideDown();
                    hideT = setTimeout(function () {
                        $('#async_flash_msg').slideUp();
                    }, 3000)
                }
            });
            return false;
        });
    </script>
{% endblock %}